.imagen {
    max-width: 150px;
    max-height: 162px;
    margin: 10px;
  }

  
// .siguiente {
//   background-color: rgb(11, 72, 100);
//   color: white;
//   font-size: 14px;
//   padding: 10px;
//   border-radius: 50px;
//   position: absolute;
//   right: 25px; 
//   width: 100px;
//   bottom: 10px;
// }


// .anterior {
//   background-color: white;
//   color:rgb(11, 72, 100);
//   border: 2px solid rgb(11, 72, 100);
//   font-size: 14px;
//   padding: 10px;
//   border-radius: 50px;
//   position: absolute;
//   left: 25px; 
//   width: 100px;
//   bottom: 10px
// }
