<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Juego de Puntos {{juegoSeleccionado.Nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="puntos-content" #content>
  <br>
  <ion-list style="text-align:center">
     <ion-button class="ranking-btn" (click)="AsignarASeleccion();">Asignar a selección</ion-button> 
    <ion-button class="ranking-btn-rojo" (click)="AsignarPuntoAleatorio();">Asignar punto aleatorio</ion-button>
  </ion-list>
  <br>
 <ion-label style="color: rgb(158, 22, 51); font-size: large;">
  Clasificación general
  </ion-label>
  <br>
  <br>

 <mat-accordion #accordion="matAccordion">
  <div *ngFor="let alumno of rankingJuegoDePuntos; let pos=index">
    <mat-expansion-panel (opened)="MostrarHistorialAlumno(alumno)">
      <mat-expansion-panel-header>
          <ion-item style= "width: 60%">
            <ion-label>
              {{alumno.nombre}} {{alumno.primerApellido}}
            </ion-label>
          </ion-item> 
          <ion-item  style="width: 15%">
            <ion-label style="color: green;">
              {{alumno.puntos}} 
            </ion-label>
          </ion-item>
          <ion-item style="text-align: right;">
            <ion-label style="color: rgb(172, 17, 25);">
              {{alumno.nivel}} 
            </ion-label>
          </ion-item>
        
      </mat-expansion-panel-header>
      <ion-list>
        <ion-item *ngFor = "let punto of historialAlumno" >
          <ion-item style = "width: 80%;">
            <ion-label style="color: rgb(128, 0, 0);font-size: smaller;">
              {{punto.nombre}} 
            </ion-label>
          </ion-item>
          <ion-item style= "text-align: right;">
            <ion-label style="color: rgb(128, 0, 0);font-size: smaller;">
              {{punto.valorPunto}}
            </ion-label>
          </ion-item>
        </ion-item>
      </ion-list>
    </mat-expansion-panel>
  </div>
</mat-accordion>

</ion-content>