<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Votación Uno A Todos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="juegos-content">
  
  
  <ion-slides>

    <ion-slide>
      <ion-list   style="text-align: center;">
        <label align = "center"><h1 style="color:rgb(109, 11, 19)"><strong>Resultados de la votación</strong></h1></label>
 
        <label align = "center" style = "font-size: small;">En <strong>negrita</strong> los alumnos que ya han votado</label>
        <br>
        <br>
        <ion-item  *ngFor="let alumno of rankingIndividualJuegoDeVotacionUnoATodos;">
          
          <ion-item lines = "none" style = " width: 60%">
            <ion-label *ngIf = "alumno.votado" class="ion-text-wrap"><strong>{{alumno.nombre}} {{alumno.primerApellido}} {{alumno.segundoApellido}}</strong></ion-label>
            <ion-label *ngIf = "!alumno.votado" class="ion-text-wrap">{{alumno.nombre}} {{alumno.primerApellido}} {{alumno.segundoApellido}}</ion-label>
      
          </ion-item>
         
          <ion-item lines = "none" style = " width: 20%">
            <ion-label *ngIf = "alumno.incremento !==0 " class="blink">+{{alumno.incremento}}</ion-label>
          </ion-item>
          <ion-item lines = "none" style = " width: 20%">
            <ion-label style = " color: rgb(11, 105, 27); ">{{alumno.puntos}}</ion-label>
          </ion-item>
          
        </ion-item>
      </ion-list>
    </ion-slide>

  </ion-slides>


</ion-content>

