
<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Competición</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="juegocompliga-content" #content>

  <div style="display: flex; align-items: center; justify-content: center; padding-top: 50px;">
    <img class="card-img" src="../../assets/img/juegos-competicion/jornada.png" height="100"/>
  </div>

  <div>
      <ion-button color="medium" style="width: 90%;" (click)="InformacionJornadas();">Ver Jornadas</ion-button>
  </div>

  <div>
    <ion-button color="medium" style="width: 90%;" (click)="EditarJornadas();">Editar Jornadas</ion-button>
  </div>

  
  <div *ngIf="juegoSeleccionado.Tipo === 'Juego De Competición Fórmula Uno'">
    <ion-button color="medium" style="width: 90%;" (click)="EditarPuntuacion();">Editar Puntuacion</ion-button>
  </div>

  <div style="display: flex; align-items: center; justify-content: center; padding-top: 30px;">
    <img class="card-img" src="../../assets/img/juegos-competicion/puntuacion.png" height="100"/>
  </div>

  <div>
    <ion-button color="medium" style="width: 90%;" (click)="AsignacionGanador();">Asignacion Ganador</ion-button>
  </div>

  <div>
    <ion-button color="danger" style="width: 90%;" (click)="Desactivar();">Desactivar juego</ion-button>
  </div>

</ion-content>