
<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Competición Liga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="juegocompliga-content" #content>

  <div style="display: flex; align-items: center; justify-content: center; padding-top: 50px;">
    <img class="card-img" src="../../assets/img/juegos-competicion/jornada.png" height="200"/>
  </div>
  <div style="display: flex; align-items: center; justify-content: center;">
    <ion-card (click)="expandItem(item)" *ngFor="let item of items" class="expand-card1">
      <ion-card-header>
        <ion-card-title>Jornadas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-expandable expandHeight="200px" [expanded]="item.expanded">
          <ion-button color="medium" style="width: 150px;" (click)="InformacionJornadas();">Ver</ion-button>
          <ion-button color="medium" style="width: 150px;" (click)="EditarJornadas();">Editar</ion-button>
        </app-expandable>
      </ion-card-content>
    </ion-card>
  </div>

  <div style="display: flex; align-items: center; justify-content: center; padding-top: 30px;">
    <img class="card-img" src="../../assets/img/juegos-competicion/puntuacion.png" height="200"/>
  </div>
  <div style="display: flex; align-items: center; justify-content: center;">
    <ion-card (click)="expandItem2(item)" *ngFor="let item of items" class="expand-card2">
      <ion-card-header>
        <ion-card-title>Asignar Ganadores</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <app-expandable expandHeight="200px" [expanded]="item.expanded2">
          <ion-button color="medium" style="width: 200px;" [routerLink]="['/seleccionar-alumnos']">Manual</ion-button>
          <ion-button color="medium" style="width: 200px;">Aleatorio</ion-button>
          <ion-button color="medium" style="width: 200px;">Resultados juego</ion-button>
        </app-expandable>
      </ion-card-content>
    </ion-card>
  </div>

  <div style="display: flex; align-items: center; justify-content: center; padding-top: 50px;">
    <ion-button color="danger" style="width: 200px;">Desactivar juego</ion-button>
  </div>
</ion-content>