<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!empezado" class="menu-btn"></ion-back-button>
      <ion-button *ngIf = "empezado" style ="font-size: 17.5px;" (click)="popup()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf = "juegoSeleccionado">{{juegoSeleccionado.NombreJuego}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "!analizar">
  <br>
  <ion-list style="text-align:center">
    <ion-button *ngIf = "juegoSeleccionado.JuegoActivo" class="ranking-btn" (click)="Desactivar();">Desactivar</ion-button> 
    <ion-button *ngIf = "!juegoSeleccionado.JuegoActivo && !juegoSeleccionado.JuegoTerminado" class="ranking-btn" (click)="Activar();">Activar</ion-button> 
  
    <ion-button  *ngIf = "!juegoSeleccionado.JuegoTerminado" class="ranking-btn-rojo" (click)="Finalizar();">Finalizar</ion-button> 
  
    <ion-button  *ngIf = "juegoSeleccionado.JuegoTerminado" class="ranking-btn" (click)="Analizar();">Analizar resultados</ion-button> 
  
    <br>
    <ion-label style="color: rgb(158, 22, 51); font-size: large;">
      Clasificación general
    </ion-label>
    <br>
    <br>
  </ion-list> 

  <mat-accordion #accordion="matAccordion">
    <div *ngFor="let alumno of rankingAlumnosPorNota; let pos=index">
      <mat-expansion-panel (opened)="MostrarRespuestasAlumno(alumno)">
        <mat-expansion-panel-header>
            <ion-item style= "width: 80%">
              <ion-label>
                {{alumno.nombre}} {{alumno.primerApellido}}
              </ion-label>
            </ion-item> 
            <ion-item  style="text-align: right;">
              <ion-label style="color: green;">
                {{alumno.nota}} 
              </ion-label>
            </ion-item>
          
        </mat-expansion-panel-header>
        <div  *ngIf = "inscripcionAlumnoJuegoDeCuestionario">
          <div *ngIf = "inscripcionAlumnoJuegoDeCuestionario.Contestado" style= "display: table; width: 100%">
            <div class="col" style="width: 15%; display: table-cell;vertical-align: middle;"><h1 style="color:red">Mal</h1></div>
            <div class="col" style="width: 50%; display: table-cell;vertical-align: middle;">
                <div style = "width : 100%;" echarts [options]="info"  theme="macarons" class="demo-chart"></div>
            </div>
            <div class="col" style="width: 15%; display: table-cell;vertical-align: middle;" ><h1 style="color:green">Bien</h1></div>
          </div>
          <div *ngIf = "!inscripcionAlumnoJuegoDeCuestionario.Contestado">
            <ion-label style="color: red;">
              Aún no ha contestado
            </ion-label>
          </div>
        </div>

      </mat-expansion-panel>
    </div>
  </mat-accordion>
</ion-content>



<ion-content *ngIf = "analizar">
  <br>
  <ion-list style="text-align:center">
    <ion-button class="ranking-btn" (click)="Volver();">Volver</ion-button> 
  </ion-list>
  <br>
  <mat-accordion #accordion="matAccordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
          <ion-item style= "width: 80%">
            <ion-label>
              Histograma
            </ion-label>
          </ion-item> 
      </mat-expansion-panel-header>
      <div echarts [options]="grafico"  theme="macarons" class="demo-chart"></div>
    
    </mat-expansion-panel>
    <div *ngFor = "let pregunta of preguntas; index as i">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
            <ion-item style= "width: 75%">
              <ion-label>
                <span style= "font-size: smaller;">Pregunta {{i+1}}: </span>{{pregunta.Titulo}}
              </ion-label>
            </ion-item> 
            <ion-item style="text-align: right;">
              <ion-label style = "color: green">
                {{((donuts[i].series[0].data[0].value / listaAlumnosOrdenadaPorNota.length) * 100).toFixed(0)}}%
              </ion-label>
            </ion-item> 
          
        </mat-expansion-panel-header>
        <ion-list style="text-align:center">
          
          <br>
          <ion-label><strong>Pregunta {{i + 1 }}</strong></ion-label>
          <br>
          <ion-label class="ion-text-wrap"> {{pregunta.Pregunta}}</ion-label>
          <br>
          <br>
          <ion-label><strong>Respuesta correcta</strong></ion-label>
          <br>
          <ion-label 
            *ngIf = 
                  "pregunta.Tipo === 'Cuatro opciones' ||
                  pregunta.Tipo === 'Verdadero o falso' ||
                  pregunta.Tipo === 'Respuesta abierta'" 
            class="ion-text-wrap"> 
            {{pregunta.RespuestaCorrecta}}
          </ion-label>
          
          <ion-list *ngIf = "pregunta.Tipo === 'Emparejamiento'">
            <ion-item  *ngFor="let pareja of pregunta.Emparejamientos; let j=index">
              <ion-item lines = "none" style = "width: 50%">
                <ion-label  style = "font-size: small;">
                  {{pareja.l}}
                </ion-label>
              </ion-item>
              <ion-item lines = "none" style = "width: 50%">
                <ion-label  style = "font-size: small;">
                  {{pareja.r}}
                </ion-label>
              </ion-item>
            </ion-item>
          </ion-list>
        </ion-list>
        <div [options]="donuts[i]" class="demo-chart" echarts theme="macarons"></div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>

</ion-content>
