<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Avatares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="juegoavatar-content">



    <ion-list style="text-align:center">
      <ion-button style = "width: 40%; height: 40pt" class="ranking-btn" (click)="DarPrivilegiosATodos();">Dar privilegios <br> a todos</ion-button> 
      <ion-button style = "width: 40%; height: 40pt"class="ranking-btn-rojo" (click)="QuitarPrivilegiosATodos();">Quitar privilegios <br> a todos</ion-button> 
    </ion-list>
  
  
    <ion-list>
      <ion-item *ngFor="let alumno of alumnosDelGrupo; let i = index" (click) = "MostrarAvatar (alumno)" >
          <ion-item lines = "none"  style="width: 80%" >
            <ion-label > {{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}</ion-label>
          </ion-item>
          <ion-item lines = "none"  style="text-align: right;">
            <i class="material-icons  md-36" style = "color: rgb(29, 109, 69)">visibility</i>
          </ion-item>
      </ion-item>
    </ion-list>


</ion-content>