<ion-content padding class="login-content" *ngIf ="login">
  <div>
    
    <div class="login-logo">
      <img width="300" style ="margin-top: 10px" src="../../assets/icon/classpip2.png">  
    </div>  

    <div class="login-credentials">
      <ion-item  lines="none">
        <ion-input type="text" value="" name="User" placeholder="Nombre de usuario" requiered [(ngModel)]="username"></ion-input>
        <img class="user-input-logo" width="21" height="21" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="password" name="password" placeholder="Contraseña" requiered [(ngModel)]="password"></ion-input>
        <img class="pass-input-logo" width="20" height="20" slot="end">
      </ion-item>

      <ion-button  (click)="Autentificar();" class="login-btn">Log In
      </ion-button>
      <br>
      <br>
      <ion-label  (click)="EnviarContrasena();">¿Olvidaste tu contraseña?
      </ion-label>

      <br>
      <br>
      <br>
      <ion-label  (click)="AccesoRegistro();">Regístrate en Classpip
      </ion-label>

    </div> 

  </div>
</ion-content>

<ion-content padding class="login-content-registro" *ngIf ="registro">
  <div>

    <div class="login-credentials">

      <ion-item lines="none">
        <ion-input type="text" value="" name="nombre" placeholder="Nombre" requiered [(ngModel)]="nombre"></ion-input>
        <img class="user-input-logo" width="21" height="21" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="text" name="primerApellido" placeholder="Primer apellido" requiered [(ngModel)]="primerApellido"></ion-input>
        <img class="user-input-logo" width="20" height="20" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="text" name="segundoApellido" placeholder="Segundo apellido" requiered [(ngModel)]="segundoApellido"></ion-input>
        <img class="user-input-logo" width="20" height="20" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="text" name="username" placeholder="Nombre de usuario" requiered [(ngModel)]="username"></ion-input>
        <img class="user-input-logo" width="20" height="20" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="text" name="email" placeholder="email" requiered [(ngModel)]="email"></ion-input>
        <img class="user-input-logo" width="20" height="20" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="text" name="contrasena" placeholder="Contraseña" requiered [(ngModel)]="contrasena"></ion-input>
        <img class="pass-input-logo" width="20" height="20" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="text" name="contrasenaRep" placeholder="Repite la contraseña" requiered [(ngModel)]="contrasenaRep"></ion-input>
        <img class="pass-input-logo" width="20" height="20" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-button (click)="Registro();" class="login-btn">REGISTRAR</ion-button>
      <ion-button (click)="VolverDeRegistro();" class="login-btn">VOLVER A LOGIN</ion-button>
      
    </div> 
    
  </div>
</ion-content>
